@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  /* 
    >>>>>>>>>>> Lokalnie to działa, vercel wyrzuca błąd - przywrócić jeżeli skrypt będzie po serwerze.
    / Ewentualnie jeżeli to moja wina prosiłbym w feedbacku o wyjaśnienie.
    background-image: url('../public/images/background.png');
  */
  background-image: url('https://i.imgur.com/UP02XHP.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.portal {
  /* 
    >>>>>>>>>>> Lokalnie to działa, vercel wyrzuca błąd - przywrócić jeżeli skrypt będzie po serwerze.
    / Ewentualnie jeżeli to moja wina prosiłbym w feedbacku o wyjaśnienie.
    background-image: url('../public/images/portal.webp');
  */
  background-image: url('https://i.imgur.com/yeSJhwU.png');
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  mix-blend-mode: overlay;
  position: absolute;
  pointer-events: none;
}

.container {
  margin-inline: auto;
  width: min(100%, 120rem);
}

/* RESPONSIVE SCALE 1000px*/
@media screen and (max-width: 1000px) {
  .portal {
    background-size: 100%;
  }
}
